<div class="row">
  <div class="col-4 offset-4">
    <h2 class="titulo">BMI Calculator</h2>

    <div class="row">
      <div class="col-6">
        <div class="fondoItem sexo">
          <div class="contenedor">
            <svg class="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><
              <path
                d="M289.8 46.8c3.7-9 12.5-14.8 22.2-14.8H424c13.3 0 24 10.7 24 24V168c0 9.7-5.8 18.5-14.8 22.2s-19.3 1.7-26.2-5.2l-33.4-33.4L321 204.2c19.5 28.4 31 62.7 31 99.8c0 97.2-78.8 176-176 176S0 401.2 0 304s78.8-176 176-176c37 0 71.4 11.4 99.8 31l52.6-52.6L295 73c-6.9-6.9-8.9-17.2-5.2-26.2zM400 80l0 0h0v0zM176 416c61.9 0 112-50.1 112-112s-50.1-112-112-112s-112 50.1-112 112s50.1 112 112 112z"/>
            </svg>
            <p>Masculino</p>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="fondoItem sexo">
          <div class="contenedor">
            <svg class="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
              <path
                d="M304 176c0 61.9-50.1 112-112 112s-112-50.1-112-112s50.1-112 112-112s112 50.1 112 112zM224 349.1c81.9-15 144-86.8 144-173.1C368 78.8 289.2 0 192 0S16 78.8 16 176c0 86.3 62.1 158.1 144 173.1V384H128c-17.7 0-32 14.3-32 32s14.3 32 32 32h32v32c0 17.7 14.3 32 32 32s32-14.3 32-32V448h32c17.7 0 32-14.3 32-32s-14.3-32-32-32H224V349.1z"/>
            </svg>
            <p>Femenino</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="fondoItem sexo">
          <div class="contenedor">
            <p>Altura</p>
            <div class="estiloNumero">170
              <span class="centimetro">cm</span>
            </div>
            <input type="range" class="form-range">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="fondoItem sexo">
          <div class="contenedor">
            <p>Peso</p>
            <div class="estiloNumero">
              0
            </div>
            <div>
              <svg class="svg masmenos" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path
                  d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z"/>
              </svg>
              <svg class="svg masmenos" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path
                  d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/>
              </svg>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="fondoItem sexo">
          <div class="contenedor">
            <p>Edad</p>
            <div class="estiloNumero">
              25
            </div>
            <div>
              <svg class="svg masmenos" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path
                  d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z"/>
              </svg>
              <svg class="svg masmenos" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path
                  d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 d-grid mx-auto">
        <button class="btn btn-primary btn-lg btn-color">Calcular</button>
      </div>
    </div>


  </div>
</div>

