<div class="container">
  <div class="row">
    <div class="
    col-10 offset-1
    col-sm-10 offset-sm-1
    col-md-8 offset-md-2
    col-lg-6 offset-lg-3
    col-xl-4 offset-xl-4
    col-xxl-4 offset-xxl-4">
        <h2 class="titulo">Resultado</h2>
        <div class="row">
          <div class="col-12">
            <div class="fondoItem">
              <div class="contenedor">
                <p class="resultado">Resultado</p>
                <p class="estiloNumero text-white">{{bmi}}</p>
                <p class="interpretacion ">{{interpretacion}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button routerLink="/" class="btn btn-primary btn-lg btn-color">Re-calcular</button>
          </div>
        </div>
      </div>
    </div>
  </div>
